@inherits LayoutComponentBase

<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
	<MudAppBar>
		<MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@DrawerToggle"/>
	</MudAppBar>

	<MudDrawer @bind-Open="@_drawerOpen" AppBar="false" Anchor="Anchor.Start">
		<div style="height: 64px; background-color: var(--mud-palette-primary); display: flex; align-items: center; justify-content: center; color: white; font-size: 1.2rem; font-weight: bold;">
			Granit DB
		</div>
		<NavMenu/>
	</MudDrawer>

	<MudMainContent>
		@Body
	</MudMainContent>
</MudLayout>

@code {
	bool _drawerOpen = true;

	void DrawerToggle()
	{
		_drawerOpen = !_drawerOpen;
	}

}