@page "/"
@using GranitDb.Client.api
@using GranitDb.Client.Models

<PageTitle>Dashboard</PageTitle>
<MudLayout>
	<MudMainContent>

		<h1>Dashboard</h1>
		<MudTable T="DatabaseInfo" Items="@Elements">
			<HeaderContent>
				<MudTh>Id</MudTh>
				<MudTh>Name</MudTh>
				<MudTh>Description</MudTh>
				<MudTh>Actions</MudTh>
			</HeaderContent>
			<RowTemplate>
				<MudTd DataLabel="Id">@context.Id</MudTd>
				<MudTd DataLabel="Name">@context.Name</MudTd>
				<MudTd DataLabel="Description">@context.Description</MudTd>
				<MudTd>
					<MudButton Size="Size.Small" Variant="Variant.Outlined" OnClick="() => EditDatabase(context.Id)">
						Éditer
					</MudButton>
				</MudTd>
			</RowTemplate>
		</MudTable>
	</MudMainContent>
</MudLayout>

@code {
	[Inject] NavigationManager Navigation { get; set; }
	public IEnumerable<DatabaseInfo> Elements = Array.Empty<DatabaseInfo>();

	protected override async Task OnInitializedAsync()
	{
		Elements = await Client.GetClient().GetAllDatabaseAsync();
	}

	private void EditDatabase(string id)
	{
		Navigation.NavigateTo($"/edit-database/{id}");
	}

}